@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<div @attributes="AdditionalAttributes"
     class="@(ColumnOptionsBootstrapClasses()) @(ColumnOffsetBootstrapClasses()) @(ColumnOrder.ToBootstrapClass()) @(Classes)" @ref="HtmlRef">
    @(ChildContent)
</div>

@code {
    [Parameter] public BsColumnOptions ColOption { get; set; }
    [Parameter] public List<BsColumnOptions>? ColOptionsList { get; set; }

    [Parameter] public BsColumnOptions OffsetOption { get; set; }
    [Parameter] public List<BsColumnOptions>? OffsetOptionsList { get; set; }

    [Parameter] public BsColumnOrder ColumnOrder { get; set; }

    private string ColumnOptionsBootstrapClasses()
    {
        if (ColOptionsList is null || ColOptionsList.Count == 0)
        {
            return ColOption.ToBootstrapColClass();
        }

        var classes = ColOptionsList.Select(b => b.ToBootstrapColClass());
        return string.Join(' ', classes);
    }

    private string ColumnOffsetBootstrapClasses()
    {
        if (OffsetOptionsList is null || OffsetOptionsList.Count == 0)
        {
            return OffsetOption.ToBootstrapOffsetClass();
        }

        var classes = OffsetOptionsList.Select(b => b.ToBootstrapOffsetClass());
        return string.Join(' ', classes);
    }
}
