@inherits BsChildContentComponent

<div @attributes="AdditionalAttributes"
     class="@(ColumnOptionsBootstrapClasses()) @(ColumnOffsetBootstrapClasses()) @(ColumnOrder.ToBootstrapClass()) @(Classes)">
    @(ChildContent)
</div>

@code {
    [Parameter] public ColumnOptions ColOption { get; set; }
    [Parameter] public List<ColumnOptions> ColOptionsList { get; set; }

    [Parameter] public ColumnOptions OffsetOption { get; set; }
    [Parameter] public List<ColumnOptions> OffsetOptionsList { get; set; }

    [Parameter] public ColumnOrder ColumnOrder { get; set; }

    private string ColumnOptionsBootstrapClasses()
    {
        if (ColOptionsList is null || ColOptionsList.Count == 0)
        {
            return ColOption.ToBootstrapColClass();
        }

        var classes = ColOptionsList.Select(b => b.ToBootstrapColClass());
        return string.Join(' ', classes);
    }

    private string ColumnOffsetBootstrapClasses()
    {
        if (OffsetOptionsList is null || OffsetOptionsList.Count == 0)
        {
            return OffsetOption.ToBootstrapOffsetClass();
        }

        var classes = OffsetOptionsList.Select(b => b.ToBootstrapOffsetClass());
        return string.Join(' ', classes);
    }
}