@page "/"
@using System.Drawing
@using RiRiSharp.Bootstrap.Forms
@using RiRiSharp.Bootstrap.Forms.ChecksRadios
@using RiRiSharp.Bootstrap.Forms.FormControl
@using RiRiSharp.Bootstrap.Layout.Rows
@using RiRiSharp.Bootstrap.Site.Shared
<PageTitle>Home</PageTitle>

<h1>Bind Example</h1>
<BsRow>
    <label>
        Regular input:
        <BsInputText @bind-Value="InputValue"/> @(InputValue)
    </label>

    <label>
        Password input:
        <BsInputText type="password" @bind-Value="Password"/> @(Password)
    </label>

    <label>
        Readonly input:
        <BsInputText readonly ReadonlyPlaintext="true" @bind-Value="Text"/> @(Text)
    </label>

    <label>
        File input:
        <BsInputFile OnChange="FileChange" multiple/> @(_fileInfo)
    </label>

    <label>
        Color input:
        <BsInputColor @bind-Value="Color"/>
        Hex: @(ColorTranslator.ToHtml(Color))
    </label>
</BsRow>

<BsRow>
    <label>
        InputSelect
        <TextInputSelect @bind-Value="InputSelect" Values="@( ["ValueA", "ValueB"])" Context="value">
            <BsOption Value="value">
                @($"Display{value}")
            </BsOption>
        </TextInputSelect>
        InputSelect: @(InputSelect)
    </label>
    <label>
        InputSelect with foreach
        <TextInputSelect @bind-Value="InputSelect2" Values="Options" FormSize="FormSize.Small">
            <Options>
                <BsOption selected TValue="string">Open this select menu</BsOption>
                @foreach (var option in Options)
                {
                    <BsOption Value="option">
                        @($"Display{option}")
                    </BsOption>
                }
            </Options>
        </TextInputSelect>
        InputSelect: @(InputSelect2)
    </label>
    <BsFormCheck>
        <BsFormCheckInput @bind-Value="_selected" disabled/>
        <BsFormCheckLabel>
            Label, selected: @(_selected)
        </BsFormCheckLabel>
    </BsFormCheck>
    <BsFormCheck>
        <BsFormCheckIndeterminateInput @bind-Value="_selected2" disabled/>
        <BsFormCheckLabel>
            Label, selected: @(_selected2?.ToString() ?? "null")
        </BsFormCheckLabel>
    </BsFormCheck>
    <div>
        <BsInputRadioGroup @bind-Value="RadioSelection">
            @foreach (var value in Options)
            {
                <BsFormCheck FormCheckOptions="BsFormCheckOptions.Reverse">
                    <BsFormCheckLabel>
                        <BsInputRadio Value="value"/>
                        @(value)
                    </BsFormCheckLabel>
                </BsFormCheck>
            }
        </BsInputRadioGroup>
        Selection: @(RadioSelection)
    </div>
</BsRow>

@code {
    private string InputValue { get; set; }
    public string Text { get; set; } = "ReadonlyText";
    public string Password { get; set; }
    public Color Color { get; set; }
    public string InputSelect { get; set; }
    public string InputSelect2 { get; set; }
    public List<string> Options { get; set; } = ["AValue", "AndAnotherOne"];
    private string _fileInfo;
    private bool _selected = true;
    private bool? _selected2;
    public string RadioSelection { get; set; }

    private void FileChange(InputFileChangeEventArgs obj)
    {
        _fileInfo = $"Name: {obj.File.Name}, Type: {obj.File.ContentType}, Size: {obj.File.Size}, Count: {obj.FileCount}";
    }
}