@page "/"
@using System.Drawing
@using RiRiSharp.Bootstrap.Forms
<PageTitle>Home</PageTitle>

<h1>Bind Example</h1>
<label>
    Regular input:
    <BsInputText @bind-Value="InputValue"/> @(InputValue)
</label>

<label>
    Password input:
    <BsInputText type="password" @bind-Value="Password"/> @(Password)
</label>

<label>
    Readonly input:
    <BsInputText readonly ReadonlyPlaintext="true" @bind-Value="Text"/> @(Text)
</label>

<label>
    File input:
    <BsInputFile OnChange="FileChange" multiple/> @(_fileInfo)
</label>

<label>
    Color input:
    <BsInputColor @bind-Value="Color"/> R: @(ColorTranslator.ToHtml(Color))
</label>


@code {
    private string InputValue { get; set; }
    public string Text { get; set; } = "ReadonlyText";
    public string Password { get; set; }
    public Color Color { get; set; }
    private string _fileInfo;

    private void FileChange(InputFileChangeEventArgs obj)
    {
        _fileInfo = $"Name: {obj.File.Name}, Type: {obj.File.ContentType}, Size: {obj.File.Size}, Count: {obj.FileCount}";
    }
}